 .maincontainer{
      background-image: url(./assets/images/favicon-32x32.png);
      background-repeat:repeat ;
      width: 2000px;
      height: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container{
      background-color: #141414;
      width: 1500px;
      height: 900px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sign{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 800px;
      background-color: #1f1f1f;
      border-radius: 50px;
      
    }
    .imag{
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
    img{
      border-radius: 50%;
    }
    h1{
      color: #c9c7c7;
    }
    h2{
      color:#a6bc5e;
    }
    p{
      color: #c9c7c7;
    }
    .box1, .box2, .box3, .box4, .box5 {
      width: 300px;
      color: #c9c7c7;
      background-color:#333333 ;
      margin: 10px;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
    } 
    .box1:hover, 
    .box2:hover, 
    .box3:hover, 
    .box4:hover, 
    .box5:hover{
      cursor: pointer; 
      background-color: #a6bc5e;
      color: black;
    }
    @media screen and (max-width:506px) {
      .maincontainer{
        display: grid;
        grid-template-columns: repeat(500px,2fr);
        grid-column: 3/2;
        
      }      
    }
